.textfieldgroup 
.textfieldgroup-field {
	display: block;
	float: left;
	padding-right: 4px;
	width:auto;
	font-size:12px;
	line-height:31px;
}

/*
	Style placeholders: should be somewhere more generic but it'll do for now
*/
::-webkit-input-placeholder {
	color:#999999 !important;
}

:-moz-placeholder {
	color:#999999 !important;
}